{% extends "layout.html" %}

{% block title %}
	Books
{% endblock %}

{% block body %}
<form action="{{ url_for('search') }}" method="post">
    <div class="input-group mt-3">
          <div class="input-group-prepend">
            <select class="form-control" name="search_option">
              <option value="title">Book Title</option>
              <option value="author">Author</option>
              <option value="isbn">ISBN number</option>
              <option value="year">Year</option>

            </select>
          </div>        
        <input type="text" class="form-control" placeholder="Search book..." name="search">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
	 {% for category, message in messages %}
		 <div class="alert alert-{{ category }} mt-2">{{ message }} {% if is_book %}{{option}} "{{info}}"{% endif %}</div>
	 {% endfor %}
 {% endif %}
{% endwith %}

{% if message %}
<p>{{ message }}</p>

{% endif %}

    <div class="list-group list-group-flush">
        {% for book in books %}
                <a href="{{ url_for('book', book_id=book.id) }}" class="list-group-item list-group-item-action">
                    <p class="font-weight-bold lead d-inline">{{ book.title }}</p> by <i>{{ book.author }},
                            {{ book.year }}, <u>ISBN: {{ book.isbn }}</u></i>
                </a>
        {% endfor %}
    </div>

{% endblock %}
