{% extends "layout.html" %}

{% block title %}
	Books
{% endblock %}

{% block body %}

 <h1>All Books</h1>
 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
	 {% for category, message in messages %}
		 <div class="alert alert-{{ category }}">{{ message }} </div>
	 {% endfor %}
 {% endif %}
{% endwith %}

    <div class="list-group list-group-flush">
        {% for book in books %}
                <a href="{{ url_for('book', book_id=book.id) }}" class="list-group-item list-group-item-action">
                    <p class="font-weight-bold lead d-inline">{{ book.title }}</p> by <i>{{ book.author }}</i>
                </a>
        {% endfor %}
    </div>

{% endblock %}
