{% extends "layout.html" %}

{% block title %}
Kitab
{% endblock %}



{% block body %}
 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
	 {% for category, message in messages %}
		 <div class="alert alert-{{ category }}">{{ message }} </div>
	 {% endfor %}
 {% endif %}
{% endwith %}
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8 text-center">
		<div class="jumbotron jumbotron-fluid mt-5 p-3 text-body">
			<h1 class="display-3">Kitab</h1>
			<p class="lead">Reviews for all your favourite books.</p>
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>
	{% if session.logged_in %}
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<form action="{{ url_for('search') }}" method="post">
					<div class="input-group">
						  <div class="input-group-prepend">
						    <select class="form-control" name="search_option">
							  <option value="title">Book Title</option>
							  <option value="author">Author</option>
							  <option value="isbn">ISBN number</option>
							  <option value="year">Year</option>

							</select>
						  </div>		
						<input type="text" class="form-control" placeholder="Search book..." name="search">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
			<div class="col-lg-2"></div>
		</div>

	{% endif %}



{% endblock %}
