{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<div class="row">	
		<div class="col-lg-2"></div>
		<div class="col-lg-8 text-center">
			<div class="jumbotron jumbotron-fluid mt-4 p-3 text-body">
				<h1 class="display-3">Kitab</h1>
				<p class="lead">Reviews for all your favourite books.</p>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<form action="{{ url_for('search') }}">
					<div class="input-group">
						  <div class="input-group-prepend">
						    <select class="form-control" name="search_option">
							  <option value="1">Book Title</option>
							  <option value="2">Author</option>
							  <option value="3">ISBN number</option>
							</select>
						  </div>		
						<input type="text" class="form-control" placeholder="Search book..." name="search">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
			<div class="col-lg-2"></div>
		</div>

{% endblock %}